<%= form_tag(apply_path) do %>
  <p><%= text_field_tag :first_name, nil, :placeholder => 'First Name' %></p>
  <p><%= text_field_tag :last_name, nil, :placeholder => 'Last Name' %></p>
  <p><%= text_field_tag :user_email, nil, :placeholder => 'Email' %></p>
  <p><%= text_field_tag :phone, nil, :placeholder => 'Phone' %></p>
  <p><%= text_field_tag :age, nil, :placeholder => 'Age' %></p>
  <p><%= text_field_tag :school_name, nil, :placeholder => 'School Name' %></p>
  <p><%= text_field_tag :major, nil, :placeholder => 'Major' %></p>
  <p><%= text_field_tag :dagree, nil, :placeholder => 'Degree' %></p>
  <p><%= text_field_tag :gpa, nil, :placeholder => 'GPA' %></p>

  <p><%= text_field_tag :employer_name, nil, :placeholder => 'Employer Name' %></p>
  <p><%= text_field_tag :job_title, nil, :placeholder => 'Job Title' %></p>
  <p><%= text_field_tag :start_date, nil, :placeholder => 'Start Date' %></p>
  <p><%= text_field_tag :end_date, nil, :placeholder => 'End Date' %></p>

  <p><%= text_field_tag :employer_name, nil, :placeholder => 'Employer Name' %></p>
  <p><%= text_field_tag :job_title, nil, :placeholder => 'Job Title' %></p>
  <p><%= text_field_tag :start_date, nil, :placeholder => 'Start Date' %></p>
  <p>
  <p><%= text_field_tag :end_date, nil, :placeholder => 'End Date' %></p>
    <%= submit_tag 'Send Contact', :class => 'btn btn-success' %>
    <input type="reset" value="Reset" class="btn btn-warning">
<% end %>
