
  <nav class="navbar navbar-inverse" role="navbar">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contact", static_contact_path %></li>
      <li><%= link_to "Promotional Offers", static_promotional_offers_path %></li>
      <li><a href="#">Join Our Team</a>
        <ul>
          <li><%= link_to "Job Info", static_job_info_path %></li>
          <li><%= link_to "Apply", static_apply_path %></li>
          <li><%= link_to "Take Test", static_test_path %></li>
        </ul>
      </li>
    </ul>
  </nav>
