<!DOCTYPE HTML>
<html>
<head>
  <title>Precision Air</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <%= link_to image_tag("precision_top_bar_picture.jpg", :alt => "Company Logo") %>
    <%= render 'navbar' %>

<%= yield %>
  </div>
</body>
</html>
